#info {
  padding: 20px;
  background-color: lightblue;
  border-radius: 5px;
  margin-bottom: 20px;
}

#wrapper{
  visibility: hidden;
}

#loading{
  display: none;
}

#wrapper > div{
  margin: 5px 0;
}

.label{
  font-weight: bold;
  display: inline-block;
  width: 15%;
}
