#info {
  padding: 20px;
  background-color: lightblue;
  border-radius: 5px;
  margin-bottom: 20px;
}

#wrapper{
  visibility: hidden;
}

#basic-info > div, #weather-info > div{
  margin: 5px 0;
}

.label{
  font-weight: bold;
  display: inline-block;
  width: 40%;
}

#basic-info, #weather-image-wrapper, #weather-info{
  display: inline-block;
  vertical-align: top;
  width: 35%
}

#weather-image-wrapper{
  width: 10%;
}
